// We can @use any hgrid partial such as mixins or variables 
// in components.

// Let's try this with the viewport mixin that can help us create 
// consistent @media queries.

@use '~hgrid-css/sass/mixins/mixins' as mixin;

// 1. Override hgrid's h1 text color

.SmallComponent h1 {
  color: #ff5e00;
  transition: 0.6s ease;
  letter-spacing: -1px;

  // 2. Let's try a custom property (--variable) from hgrid

  &:hover {
    cursor: pointer;
    color: var(--theme-color-secondary);
  }

  // 3. @use the namespaced viewport mixin from above:

  @include mixin.viewport(tablet-portrait) {
    color: #1b007a;
  }
}

// 4. Let's see if we can override a custom property, too.

.container-max {
  --container-max-width: 1200px;
  max-width: var(--container-max-width);
}