// We can give access to the hgrid variables here too, if needed:

@import '~hgrid-css/sass/variables/variables.scss';

.App {
  font-size: 30px;
  .column {
    padding: 1rem 2rem;
  }

  // See if a hgrid default variable is available:

  @media (max-width: $phone-landscape) {
    text-align: center;
  }
}

// Let's use another variable that already has been customized.
// We'll use it to override hgrid's '.container-max' class:

.container-max {
  max-width: $container-max-width;
}

// Inspect the page and you will see that the 1200px 
// '$container-max-width' variable we configured in 'index.scss' has been 
// overridden by the default value of 1440px we imported into this file.

// Default variables we override in index.scss will display in dev tools as 
// coming from hgrid's own '_containers.scss'. This is correct, as customized variables
// get injected into hgrid during compilation.
