// Import and customize hgrid

@use '~hgrid-css/sass/hgrid' with (
  $body-bg: #7056ce,
  $link-color: #00a344,
  $link-color-hover: #00cc66,
  $container-max-width: 1680px,
  $link-underline-color: #daae00,
  $column-gutter-width: 1.2%,
  $turn-off-link-decoration: true,
  $use-global-link-underlines: true,
);

// ... or @use only specific modules:

// @use '~hgrid-css/sass/variables/variables'; // Required*
// @use '~hgrid-css/sass/mixins/mixins'; // Required*
// @use '~hgrid-css/sass/base/base'; // Required*

// @use '~hgrid-css/sass/base/a11y';
// @use '~hgrid-css/sass/layout/flex';
// @use '~hgrid-css/sass/layout/containers';
// @use '~hgrid-css/sass/layout/auto-columns';
// @use '~hgrid-css/sass/layout/helpers/background';

// Add other global styles from here down

// You have access to hgrid's custom properties
// https://hgrid.io/documentation/variables/

.example {
  background: var(--bg-dark);

  h1 {
    color: var(--text-color-secondary);
    font-size: 3rem;

    @media (max-width: var(--phone)) {
      font-size: 2.4rem;
    }
  }
}